<!-- Below i. e. <app-me></app-me> can be used in combination with:
templateUrl: './app.component.html',
in app.component.ts instead of only
template: `<app-me></app-me>`,
in app.component.ts: -->

<!-- <app-me></app-me> // an element that refers to the selector 'app-me' in me.component.ts -->

<div id="wrapper">
    <header>
        <h1>My First Angular App in course jsramverk</h1>
    </header>
    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
    <nav>
      <ul>
        <!-- <li><a routerLink="/" routerLinkActive="active">Me</a></li> -->
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Me</a></li>
        <!-- <li><a routerLink="/reports/week/1" routerLinkActive="active">Kmom01</a></li> -->

<!-- Below added as a test: -->
        <li *ngFor="let report of reports">
          <a routerLink="/reports/week/{{ report.week_no }}" routerLinkActive="active">{{ report.report }}</a>
        </li>
<!-- End test -->

      </ul>
    </nav>
    <!-- The routed views render in the <router-outlet>-->
    <main>
        <!-- an element that is a router directive and that tells the router where to display routed views -->
        <router-outlet></router-outlet>
    </main>
</div> <!--End id="wrapper"-->
