<div id="wrapper">
    <header>
        <h1>My First Angular App in course jsramverk</h1>
    </header>
    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
    <nav>
      <ul>
        <!-- <li><a routerLink="/" routerLinkActive="active">Me</a></li> -->
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Me</a>
        </li>
        <!-- <li><a routerLink="/reports/week/1" routerLinkActive="active">Kmom01</a></li> -->

    <!-- Below inactivated 200925 13.45: -->
            <!-- <li *ngFor="let report of reports">
              <a routerLink="/reports/week/{{ report.week_no }}" routerLinkActive="active">{{ report.report }}</a>
            </li> -->
    <!-- En of Below inactivated 200925 13.45: -->

        <li>
            <a routerLink="/reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Reports</a>
        </li>
        <li>
            <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>

        <li>
            <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active">Login</a>
            <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
        </li>

        <li>
            <a *ngIf="isLoggedIn" (click)="onLogout()" class="logout">Logout</a>
            <!-- <button (click)="onLogout()">Logout</button> -->
        </li>

      </ul>
    </nav>
    <!-- The routed views render in the <router-outlet>-->
    <main>
        <!-- an element that is a router directive and that tells the router where to display routed views:-->
        <router-outlet></router-outlet>
    </main>
    <footer>
        <p class="copyright">Katja Tibe &copy; 2020</p>
    </footer>
</div> <!--End id="wrapper"-->
